{% extends 'qrcodegame/base.html' %}

{% block content %}
    <h1>New game</h1>
    <form method="POST" class="post-form">{% csrf_token %}

    	{{form.guide_id.errors}}
    	{{form.guide_id.label_tag}}
    	{{form.guide_id}}
    	<br><br>

        {{form.page_title.errors}}
    	{{form.page_title.label_tag}}
    	{{form.page_title}}
    	<br><br>

        {{form.phrase.errors}}
    	{{form.phrase.label_tag}}
    	{{form.phrase}}
    	<br><br>

        {{form.message_title.errors}}
    	{{form.message_title.label_tag}}
    	{{form.message_title}}
    	<br><br>

    	{{form.message.errors}}
    	{{form.message.label_tag}}
    	{{form.message}}
    	<br><br>
        
        {{form.completedurl.errors}}
    	{{form.completedurl.label_tag}}
    	{{form.completedurl}}
    	<br><br>

        {{form.completedtext.errors}}
    	{{form.completedtext.label_tag}}
    	{{form.completedtext}}
    	<br><br>

    	{{form.storagekey.errors}}
    	{{form.storagekey.label_tag}}
    	{{form.storagekey}}
    	{{form.storagekey.help_text}}

    	<br><br>

    	{{form.html.errors}}
    	{{form.html.label_tag}}
    	{{form.html}}
    	<br><br>


		<button type="submit" class="save btn btn-default">Submit</button>
		<br><br><br><br>
    </form>
{% endblock %}

